body {
  margin: 0;
}
.container {
  margin-top: 20px;
  width: 100%;
}
img {
  width: 120px;
}
.card1 {
  margin: auto;
  width: 500px;
  height: 300px;
  background-color: lightblue;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px;
  font-family: sans-serif;
  position: relative;
}
.img1 {
  position: absolute;
  right: 0px;
  left: 320px;
  top: 40px;
}
h1 {
  margin: 0;
  padding-top: 45px;
  padding-left: 55px;
  font-weight: lighter;
}
p {
  margin: 0;
  font-size: 17px;
  padding-top: 70px;
  padding-left: 55px;
  font-weight: lighter;
  color: #363434;
  letter-spacing: 3px;
  line-height: 25px;
}
.card2 {
  margin: 20px auto;
  width: 500px;
  height: 300px;
  background-color: #caa1d6;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px;
  font-family: sans-serif;
  position: relative;
}
.h1Card2 {
  margin: 0;
  padding-top: 30px;
  padding-left: 55px;
  font-weight: lighter;
  line-height: 55px;
}
.pCard2 {
  margin: 0;
  font-size: 17px;
  padding-top: 30px;
  padding-left: 55px;
  font-weight: lighter;
  color: #363434;
  letter-spacing: 3px;
  line-height: 25px;
}
.img2 {
  position: absolute;
  right: 0px;
  left: 320px;
  top: 70px;
  z-index: 1;
}

.card3 {
  margin: 20px auto;
  width: 500px;
  height: 300px;
  background-color: orange;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px;
  font-family: sans-serif;
  position: relative;
}
.h1Card3 {
  margin: 0;
  padding-top: 40px;
  padding-left: 55px;
  font-weight: lighter;
  line-height: 55px;
}
.pCard3 {
  margin: 0;
  font-size: 17px;
  padding-top: 90px;
  padding-left: 55px;
  font-weight: lighter;
  color: #363434;
  letter-spacing: 3px;
  line-height: 25px;
}
.img3 {
  position: absolute;
  right: 0px;
  left: 320px;
  top: 60px;
  z-index: 1;
}

.card4 {
  margin: 20px auto;
  width: 500px;
  height: 300px;
  background-color: #faa2a2;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 10px 10px;
  font-family: sans-serif;
  position: relative;
}
.h1Card4 {
  margin: 0;
  padding-top: 40px;
  padding-left: 55px;
  font-weight: lighter;
  line-height: 55px;
}
.pCard4 {
  margin: 0;
  font-size: 17px;
  padding-top: 90px;
  padding-left: 55px;
  font-weight: lighter;
  color: #363434;
  letter-spacing: 3px;
  line-height: 25px;
}
.img4 {
  position: absolute;
  right: 0px;
  left: 320px;
  top: 60px;
  z-index: 1;
}
footer {
  width: 100%;
  background-color: lightblue;
  text-align: center;
}
footer p {
  padding: 15px 0px 10px 0px;
}
